@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root
{
	--primary-color: #F4A51C;
	--primary-hover-color: #FE5252;
}

/* Important CSS sections starts here */

*
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	/* text-align: -webkit-center; */
}

body
{
	background: #EAEFF2;
}

a
{
	text-decoration: none;
	color: black;
}

ul
{
	list-style: none;
}

/* Important CSS sections ends here */


/* Topbar Starts Here */


#topbar
{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: var(--primary-color);
	border-bottom: 1px solid white;
}


.topbar-contents
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}


.topbar-content p
{
	letter-spacing: 2px;
}


.topbar-social ul
{
	list-style: none;
	display: flex;
}

.topbar-social-icons a
{
	color: white;	
}

.topbar-social-icons a:hover
{
	color: black
}

.topbar-social li
{
	margin-right: 10px;
}


/* Topbar Ends Here */


/* Header Starts Here */

#header
{
	width: 100%;
	height: 80px;
	background: var(--primary-color);
	text-align: center;
}

.main-header
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 13px;

}

.header-search-section
{
	position: relative;
}


.header-search-section select, .header-search-section button
{
	position: absolute;
	height: 34px;
	top: 0;
}

.header-search-section select
{
	background: #F3F3F3;
}

.header-search-section button
{
	background-color: black!important;
	margin: 0;
	padding: 6px 15px;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 600;
}


.header-search-section select, .header-search-section input
{
	border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.header-search-section input
{
	width: 550px;
	height: 30px;
    padding: 0 75px;
}

.header-search-section input:focus
{
	border-style: inset;
}

.header-breadcrumbs-sectios
{
	float: right;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header-breadcrumbs-sectios div
{
	padding: 0 15px;
	border-right: 2px solid white;
}

.header-breadcrumbs-sectios div a:hover
{
	color: white;
}

.header-breadcrumbs-sectios h5
{
	font-size: 16px;
}

.header-account h5
{
	font-size: 14px;
}

.header-cart
{
	display: relative;
	border: none!important;
}

.header-cart i
{
	font-size: 25px;
}

.cart-item-count
{
	position: absolute;
    top: 44px;
    left: 95%;
	background: red;
	color: white;
    border-radius: 50px;
    padding: 3px 6px;
}


.main-nav
{
	background: white;
	padding: 15px 15%;

}

.nav-content ul
{
	display: flex;
}

.nav-content ul li
{
	display: inline-block;
	margin: 5px 10px;
}

.nav-content ul a:hover
{
	color: var(--primary-color);
}

.nav-breadcrumbs-call-icon
{
	display: flex;
	float: right;
	align-items: center;
	margin-top: -30px;
}

.nav-breadcrumbs-call-icon i
{
	font-size: 28px;
	color: var(--primary-color);
	margin-right: 10px;
}

.nav-breadcrumbs-call-content ul
{
	text-align: left;
}
/* Header Ends Here */

/* Main Sections Starts Here */

#main
{
	overflow: hidden;
	margin: 50px 50px;
}

.main-top-content
{
	width: 100%;
}

.sidebar-widget h4, .sidebar-widget a 
{
	text-align: left;
}

.sidebar-widget
{
	background: white;
	padding: 15px 20px;
	border-radius: 15px;
}

/* Left Sidebar Starts Here */

.left-sidebar, .right-sidebar
{
	width: 15%;
	display: inline;
	float: left;
}


/* Left Sidebar Ends Here */


/* Main section starts here */

/* Main-boxed-Content Section Starts Here */

.main-boxed-content
{
	width: 60%;
	display: inline;
	float: left;
	padding: 0 70px;
}

.main-carousel #lightSlider
{
	width: 115pc;
	/* width: 300px; */
	height: 245px;
}

.main-carousel img
{
	width: 912px;
	height: 245px;
}

.new-collection-offer-banner
{
	height: 60px;
	background: var(--primary-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 80px;
	margin: 20px 0;
}

.new-collection-offer-banner a
{
	background: white;
	font-size: 13px;
    padding: 10px 20px;
	border-radius: 2px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
}

/* Main-boxed-Content Section Ends Here */


/* Right Sidebar Starts Here */


.right-sidebar
{
    float: right;
}

.sidebar-share
{
	display: flex;
	align-items: center;
	border: 1px solid var(--primary-color);
	height: 35px;
	width: 150px;
	padding-right: 10px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}

.sidebar-share .share-icon
{
	background:  #EBEBEB;
	height: 100%;
	padding-left: 17px;
	margin-right: 5px;
	display: flex;
	align-items: center;

}

#main-section > div.right-sidebar > div > div > div > div.widget-body > ul > li:nth-child(1) > a > div > div
{
	padding-left: 10px;
}

.widget-social-share .widget-body a:hover .share-icon i
{
	color: black;
	border: none;
	padding: 0;
}

.widget-social-share .widget-body a:hover p
{
	color: var(--primary-color);
	font-weight: bold;
}
/* Right Sidebar Ends Here */


/* Main-wide-Content Section Starts Here */

/* Main-wide-Content Section Ends Here */

/* Main Sections Ends Here */

/* Footer Starts Here */


#footer-section
{
	width: 100%;
}

.footer-top
{
	background: white;
	width: 100%;
	display: flex;
}

.footer-widget
{
	width: 25%;
	text-align: left;
	padding: 10px 50px;	
}

.widget-body li
{
	margin: 20px 0;
	display: flex;
	justify-content: left;
	align-items: center;
}

.widget-body i
{
	color: var(--primary-color);
	margin-right: 20px;
	font-size: 20px;
	transition: 0.2s;
}

.widget-body i:hover
{
	border: 1px solid var(--primary-color);
	padding: 4px
}

.widget-social-icons ul
{
	display: flex;
	flex-wrap: wrap;
}

.widget-social-icons ul li i:hover
{
	color: black;
	border-radius: 50%;
}



.footer-bottom
{
	display: flex;
	justify-content: space-around;
	height: 40px;
	line-height: 40px;
	background: var(--primary-color);
}

.footer-bottom p, .footer-bottom a
{
	font-size: 13px;
	font-weight: 500;
}

.footer-bottom-menu ul
{
	display: flex;
	justify-content: center;
}

.footer-bottom-menu a
{
	color: white;
	padding: 0 6px;
	border-right: 1px solid white;
}

.footer-bottom-menu a:hover
{
	color: black;
}

/* Footer Ends Here */