<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to OwnSite</title>

  <link rel="stylesheet" href="css/custom.css">

  <script src="https://kit.fontawesome.com/26d4a64054.js" crossorigin="anonymous"></script>

  <!-- Light Slider -->
  <link type="text/css" rel="stylesheet" href="css/lightslider.css" />                  
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>

  <script src="js/lightslider.js"></script>

  <script src="js/style.js"></script>

</head>
<body>

    <!-- Topbar Starts Here -->
  
    <div id="topbar">
        <div class="topbar-contents">
            <div class="topbar-content">
                <p>Welcome to OwnSite</p>
            </div>
            <div class="topbar-social">
                <ul class="topbar-social-icons">
                    <a href="#"><li><i class="fab fa-twitter" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-facebook" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-instagram" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-pinterest" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-youtube" aria-hidden="true"></i></li></a>
                </ul>
            </div>
        </div>
    </div>

    <!-- Topbar Ends Here -->

    <!-- Header Starts Here -->
    <header id="header">
        <div class="header-content">
            <div class="main-header">
                <div class="header-logo-section">
                    <img src="../images/logo.png" alt="">
                </div>
                <div class="header-search-section">
                   <form action="#">
                    <select name="selectProducts" id="selectProductsFromCategories">
                        <option value="#">Fashion</option>
                        <option value="#">Tech</option>
                        <option value="#">Phones</option>
                        <option value="#">Male</option>
                        <option value="#">Female</option>
                    </select>
                    <input type="text" name="headerSearchProducts" placeholder="Search Products..">
                    <button name="headerSearchProductsSubmit">Search</button>
                   </form>
                </div>
                <div class="header-breadcrumbs-sectios">
                    <div class="header-wishlist">
                        <p>My Favourite</p>
                        <a href=""><h5>Wishlist <i aria-hidden="true" class="far fa-heart"></i></h5></a>
                    </a>
                    </a>
                    </div>
                    <div class="header-account">
                        <p>Login/SignUp</p>
                        <a href=""><h5>My Account <i aria-hidden="true" class="fas fa-lock"></i></h5></a>
                    </a>
                    </a>
                    </div>
                    <div class="header-cart">
                        <a href=""><i class="fas fa-shopping-cart"></i>
                        <h6 class="cart-item-count">0</h6></a>
                    </a>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-nav">
        <div class="nav-content">
            <ul>
                <li></li><a href="#">Home</a></li>
                <li></li><a href="#">News</a></li>
                <li></li><a href="#">Shop</a></li>
                <li></li><a href="#">Checkout</a></li>
                <li></li><a href="#">My Account</a></li>
            </ul>
        </div>
        <div class="nav-breadcrumbs">
            <div class="nav-breadcrumbs-call-icon">
                <i class="fas fa-phone-alt"></i>
                <div class="nav-breadcrumbs-call-content">
                    <ul>
                        <li>Call To</li>
                        <li class="call-number">
                            <strong>977-9846375829</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Ends Here -->

    <!-- Main section starts here -->
<section id="main">
    <main>
        <!-- Main top section Starts Here -->
        <div class="main-top-content">

            <!-- Main-wide-Content Starts Here -->
            <div class="main-wide-content">
                <div class="product-main-wide-content">
                    <div class="product-image-section">
                        <div class="product-image-first-color">    
                        </div>
                        <div class="product-image-second-color">    
                        </div>
                        <img src="../images/products/../products/productPng.png" alt="">
                    </div>

                    <div class="product-description-section">
                        <div class="product-tags">
                            <a href="#">Jackets,</a>
                            <a href="#">Men</a>
                        </div>

                        <div class="product-name">
                            <a href="#">Jacket Flushed</a>
                        </div>

                        <div class="product-rating-section">
                            <div class="product-rating">
                                <i class="fas fa-star rated"></i>
                                <i class="fas fa-star rated"></i>
                                <i class="fas fa-star rated"></i>
                                <i class="fas fa-star rated"></i>
                                <i class="fas fa-star rated"></i>
                                
                            </div>
                            <div class="product-rating-average">
                                <strong>5.0</strong>
                            </div>
                            <div class="product-rating-count">
                                (1510 Reviews)
                            </div>
                        </div>

                        <div class="product-price">
                            Rs.2000 <span>Rs.2500</span>
                        </div>

                        <div class="product-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt facere assumenda dolor doloribus. Corporis doloremque expedita autem ratione dolore temporibus.Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula. Nulla ut felis in purus aliquam imperdiet.
                        </div>

                        <div class="product-attributes">
                            <div class="product-color-section">
                                Color
                                <div class="product-color product-color-red">
                                </div>
                                <div class="product-color product-color-orange active-color">
                                    
                                </div>
                                <div class="product-color product-color-blue">
                                    
                                </div>
                            </div>
                            <div class="product-size">
                                Size
                                <select>
                                    <option class="active-size" value="50">50</option>
                                    <option value="51">51</option>
                                    <option value="52">52</option>
                                    <option value="53">53</option>
                                </select>
                            </div>
                        </div>

                        <div class="product-cart-section">
                            <div class="product-page-cart">

                                <div class="product-incre-decre">
                                    <button class="decrement-product-count">
                                        <strong>-</strong>
                                    </button>
                                    <div class="current-product-count">
                                        <strong>1</strong>
                                    </div>
                                    <button class="increment-product-count">
                                        <strong>+</strong>
                                    </button>
                                </div>

                                <div class="product-add-to-cart">
                                    <button>ADD TO CART</button>
                                </div>
                            </div>
                            <a href="#" class="product-page-add-wishlist">
                                <i aria-hidden="true" class="far fa-heart"></i>
                                Add to Wishlist
                            </a>
                        </div>

                        <div class="product-img-gallery">
                            <div class="gallery-img">
                                <img src="../images/products/productPng.png" alt="">
                                <div class="gallery-img-overlay"></div>
                            </div>
                            
                            <div class="gallery-img">
                                <img src="../images/products/armor.png" alt="">
                                <div class="gallery-img-overlay-inactive"></div>
                            </div>
                            <div class="gallery-img">
                                <img src="../images/products/dark-265x331.png" alt="">
                                <div class="gallery-img-overlay-inactive"></div>
                            </div>
                            <div class="gallery-img">
                                <img src="../images/products/usher-265x331.png" alt="">
                                <div class="gallery-img-overlay-inactive"></div>
                            </div>
                            <div class="gallery-img">
                                <img src="../images/products/usher2.png" alt="">
                                <div class="gallery-img-overlay-inactive"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- Main-wide-Content Ends Here -->


            <!-- Left Sidebar Starts Here -->
            <div class="shop-left-sidebar">
                <div class="shot-left-sidebar-widgets">

                    <!-- Filter Product by price widget starts here -->

                    <div class="sidebar-widget">
                        <div class="fliter-products-by-price-widget">
                            <div class="widget-heading">
                                <h4>Filter By Price</h4>
                            </div>
                            <div class="widget-body">
                                <hr>
                                <div class="filter-info">
                                    <p>PRICE: Rs.50 - Rs.2000</p>
                                    <button>FILTER</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Filter Product by price widget ends here -->

                    <!-- Shop Page follow Us widget starts here -->

                    <div class="sidebar-widget">
                        <div class="shop-followus-widget">
                            <div class="widget-heading">
                                <h4>Follow Us</h4>
                            </div>
                            <div class="widget-body widget-social-icons">
                                <p>We are available on: </p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Shop Page follow Us widget ends here -->

                    <!-- Product Categories list widget starts here -->

                    <div class="sidebar-widget">
                        <div class="shop-product-categores-widget">
                            <div class="widget-heading">
                                <h4>Products Categories</h4>
                            </div>
                            <div class="widget-body">
                                <ul>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category active-shop-category">
                                            <div class="category-name">
                                                <div class="category-radio category-active-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="shop-product-category">
                                            <div class="category-name">
                                                <div class="category-radio">

                                                </div>
                                                <p>
                                                    Dresses
                                                </p>
                                            </div>
                                            <div class="category-item-count">
                                                5
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Product Categories list widget starts here -->

                    <div class="sidebar-widget">
                        <div class="shop-top-rated-widget">
                            <div class="widget-heading">
                                <h4>Top Rated Products</h4>
                            </div>
                            <div class="widget-body">
                                <ul>
                                    <li>
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="../images/products/usher2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-name">
                                                <a href="#">
                                                    Jacket Flushed
                                                </a>
                                            </div>
                                            <div class="product-rating">
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star unrated"></i>
                                                <i class="fas fa-star unrated"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>Rs.2500</span> Rs.2000
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="../images/products/usher2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-name">
                                                <a href="#">
                                                    Jacket Flushed
                                                </a>
                                            </div>
                                            <div class="product-rating">
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star unrated"></i>
                                                <i class="fas fa-star unrated"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>Rs.2500</span> Rs.2000
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="../images/products/usher2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-name">
                                                <a href="#">
                                                    Jacket Flushed
                                                </a>
                                            </div>
                                            <div class="product-rating">
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star unrated"></i>
                                                <i class="fas fa-star unrated"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>Rs.2500</span> Rs.2000
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="product-img">
                                            <a href="#">
                                                <img src="../images/products/usher2.png" alt="">
                                            </a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-name">
                                                <a href="#">
                                                    Jacket Flushed
                                                </a>
                                            </div>
                                            <div class="product-rating">
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star rated"></i>
                                                <i class="fas fa-star unrated"></i>
                                                <i class="fas fa-star unrated"></i>
                                            </div>
                                            <div class="product-price">
                                                <span>Rs.2500</span> Rs.2000
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Left Sidebar Ends Here -->

            <!-- Main-boxed-Content Starts Here -->
                <div class="shop-main-boxed-content">
                    <div class="product-desc-review-tab">
                        <div class="product-desc-review-title">
                            <button class="product-desc-btn active-tab">DESCRIPTION</button>
                            <button class="product-review-btn">REVIEWS (2)</button>
                        </div>
                    </div>

                    <div class="product-full-description-body">
                        <div class="description-title">
                            Description
                        </div>
                        <div class="description-body">
                            Aenean lectus elit, fermentum non, convallis id, sagittis at, neque. Nullam mauris orci, aliquet et, iaculis et, viverra vitae, ligula. Nulla ut felis in purus aliquam imperdiet. Maecenas aliquet mollis lectus. Vivamus consectetuer risus et tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
                            Made of 95% Polyester and 5% Elastane
                            Elastic shoulder straps
                            Measured from Small
                            V-neckline with lace portion at back
                            Hand wash cold
                            Form-fitting design with stretch
                            Delivery 5-10 working days
                        </div>
                    </div>

                    <div class="product-review-body">
                        <div class="review-title">
                            Reviews
                        </div>
                        <div class="review-body">
                            <div class="user-reviews">
                                <div class="user-review">
                                    <div class="user-avatar">
                                        <img src="../images/avatars/avatar1.jpg" alt="">
                                    </div>
                                    <div class="user-info-review-body">
                                        <div class="user-name-review-date-rating">
                                            <div class="name-and-date">
                                                <div class="user-name">
                                                    <strong>Rahul Rimal</strong>
                                                </div>
                                                <div class="review-date">
                                                    April 8, 2020
                                                </div>
                                            </div>
                                            <div class="user-rating">
                                                <div class="product-rating">
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus sint pariatur, accusamus mollitia quisquam minima temporibus? Laboriosam tempora quaerat et. Quaerat molestiae aperiam laboriosam incidunt nemo, dolorem ad quae deserunt consequatur officia optio adipisci ipsum ducimus, aliquid suscipit quas! Delectus sequi, praesentium explicabo eum omnis ratione nesciunt ad magni labore cum! Neque error quidem ipsam laborum ratione a voluptas.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user-reviews">
                                <div class="user-review">
                                    <div class="user-avatar">
                                        <img src="../images/avatars/download.jpg" alt="">
                                    </div>
                                    <div class="user-info-review-body">
                                        <div class="user-name-review-date-rating">
                                            <div class="name-and-date">
                                                <div class="user-name">
                                                    <strong>Rahul Rimal</strong>
                                                </div>
                                                <div class="review-date">
                                                    April 8, 2020
                                                </div>
                                            </div>
                                            <div class="user-rating">
                                                <div class="product-rating">
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus sint pariatur, accusamus mollitia quisquam minima temporibus? Laboriosam tempora quaerat et. Quaerat molestiae aperiam laboriosam incidunt nemo, dolorem ad quae deserunt consequatur officia optio adipisci ipsum ducimus, aliquid suscipit quas! Delectus sequi, praesentium explicabo eum omnis ratione nesciunt ad magni labore cum! Neque error quidem ipsam laborum ratione a voluptas.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="user-reviews">
                                <div class="user-review">
                                    <div class="user-avatar">
                                        <img src="../images/avatars/avatar2.jpg" alt="">
                                    </div>
                                    <div class="user-info-review-body">
                                        <div class="user-name-review-date-rating">
                                            <div class="name-and-date">
                                                <div class="user-name">
                                                    <strong>Rahul Rimal</strong>
                                                </div>
                                                <div class="review-date">
                                                    April 8, 2020
                                                </div>
                                            </div>
                                            <div class="user-rating">
                                                <div class="product-rating">
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                    <i class="fas fa-star rated"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi doloribus sint pariatur, accusamus mollitia quisquam minima temporibus? Laboriosam tempora quaerat et. Quaerat molestiae aperiam laboriosam incidunt nemo, dolorem ad quae deserunt consequatur officia optio adipisci ipsum ducimus, aliquid suscipit quas! Delectus sequi, praesentium explicabo eum omnis ratione nesciunt ad magni labore cum! Neque error quidem ipsam laborum ratione a voluptas.
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="add-new-review">
                            <form>
                                <label>Your rating</label>
                                <div class="get-rating">
                                    <div class="product-rating">
                                        <i class="fas fa-star unrated"></i>
                                        <i class="fas fa-star unrated"></i>
                                        <i class="fas fa-star unrated"></i>
                                        <i class="fas fa-star unrated"></i>
                                        <i class="fas fa-star unrated"></i>
                                    </div>
                                </div>
                                <br>
                                <label>Your Review</label><br>
                                <textarea cols="100" rows="10"></textarea><br>
                                <input type="text" placeholder="Name" required>
                                <input type="email" placeholder="Email" required>
                            </form>
                        </div>
                    </div>

                    <div class="product-page-related-products">
                        <div class="related-products-title">
                            Related Products
                        </div>
                        <div class="product-section">
                            <!-- Product-box starts here  -->
                            <div class="product-box">
                                <div class="product-img">
                                    <a href="#"><img src="../images/products/usher-265x331.png" alt=""></a>
                                    <a href="#" class="product-quick-view">
                                        <i class="icon-eye" aria-hidden="true"></i>
                                        QUICK VIEW
                                    </a>
                                    <a href="#" class="product-add-wishlist">
                                        <i aria-hidden="true" class="far fa-heart"></i>
                                        Add to Wishlist
                                    </a>
                                    <a href="#" class="product-sale">
                                        SALE
                                    </a>
                                </div>
                                <div class="product-tags">
                                    <a href="#">Jackets,</a>
                                    <a href="#">Men</a>
                                </div>
                                <div class="product-name">
                                    <a href="#">Jacket Flushed</a>
                                </div>
                                <div class="product-price">
                                    <span>Rs.2500</span> Rs.2000
                                </div>
                                <div class="product-rating">
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star unrated"></i>
                                    <i class="fas fa-star unrated"></i>
                                </div>
                                <div class="product-add-cart-button">
                                    <button>Add to cart</button>
                                </div>
                            </div>
    
                            <!-- Product-box ends here  -->
    
                                    <!-- Product-box starts here  -->
                            <div class="product-box">
                                <div class="product-img">
                                    <a href="#"><img src="../images/products/usher-265x331.png" alt=""></a>
                                    <a href="#" class="product-quick-view">
                                        <i class="icon-eye" aria-hidden="true"></i>
                                        QUICK VIEW
                                    </a>
                                    <a href="#" class="product-add-wishlist">
                                        <i aria-hidden="true" class="far fa-heart"></i>
                                        Add to Wishlist
                                    </a>
                                    <a href="#" class="product-sale">
                                        SALE
                                    </a>
                                </div>
                                <div class="product-tags">
                                    <a href="#">Jackets,</a>
                                    <a href="#">Men</a>
                                </div>
                                <div class="product-name">
                                    <a href="#">Jacket Flushed</a>
                                </div>
                                <div class="product-price">
                                    <span>Rs.2500</span> Rs.2000
                                </div>
                                <div class="product-rating">
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star unrated"></i>
                                    <i class="fas fa-star unrated"></i>
                                </div>
                                <div class="product-add-cart-button">
                                    <button>Add to cart</button>
                                </div>
                            </div>
    
                            <!-- Product-box ends here  -->
                                    <!-- Product-box starts here  -->
                            <div class="product-box">
                                <div class="product-img">
                                    <a href="#"><img src="../images/products/usher-265x331.png" alt=""></a>
                                    <a href="#" class="product-quick-view">
                                        <i class="icon-eye" aria-hidden="true"></i>
                                        QUICK VIEW
                                    </a>
                                    <a href="#" class="product-add-wishlist">
                                        <i aria-hidden="true" class="far fa-heart"></i>
                                        Add to Wishlist
                                    </a>
                                    <a href="#" class="product-sale">
                                        SALE
                                    </a>
                                </div>
                                <div class="product-tags">
                                    <a href="#">Jackets,</a>
                                    <a href="#">Men</a>
                                </div>
                                <div class="product-name">
                                    <a href="#">Jacket Flushed</a>
                                </div>
                                <div class="product-price">
                                    <span>Rs.2500</span> Rs.2000
                                </div>
                                <div class="product-rating">
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star unrated"></i>
                                    <i class="fas fa-star unrated"></i>
                                </div>
                                <div class="product-add-cart-button">
                                    <button>Add to cart</button>
                                </div>
                            </div>
    
                            <!-- Product-box ends here  -->
                                    <!-- Product-box starts here  -->
                            <div class="product-box">
                                <div class="product-img">
                                    <a href="#"><img src="../images/products/usher-265x331.png" alt=""></a>
                                    <a href="#" class="product-quick-view">
                                        <i class="icon-eye" aria-hidden="true"></i>
                                        QUICK VIEW
                                    </a>
                                    <a href="#" class="product-add-wishlist">
                                        <i aria-hidden="true" class="far fa-heart"></i>
                                        Add to Wishlist
                                    </a>
                                    <a href="#" class="product-sale">
                                        SALE
                                    </a>
                                </div>
                                <div class="product-tags">
                                    <a href="#">Jackets,</a>
                                    <a href="#">Men</a>
                                </div>
                                <div class="product-name">
                                    <a href="#">Jacket Flushed</a>
                                </div>
                                <div class="product-price">
                                    <span>Rs.2500</span> Rs.2000
                                </div>
                                <div class="product-rating">
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star rated"></i>
                                    <i class="fas fa-star unrated"></i>
                                    <i class="fas fa-star unrated"></i>
                                </div>
                                <div class="product-add-cart-button">
                                    <button>Add to cart</button>
                                </div>
                            </div>
    
                            <!-- Product-box ends here  -->
                        </div>
                    </div>

                </div>
            <!-- Main-boxed-Content Ends Here -->
        </div>
        <!-- Main top section ends Here -->

        <!-- Main bottom section Starts Here -->
        <div class="main-bottom-content">

            <!-- Scroll-to-top starts here -->
            <div class="scroll-to-top">
                <i class="fas fa-angle-double-up"></i>
            </div>
            <!-- Scroll-to-top ends here -->
        </div>

        <!-- Main bottom section ends Here -->
    </main>
</section>
<!-- Main Section Ends Here  -->

    <!-- Footer Starts Here -->
    <footer id="footer-section">
        <div class="footer-top">
            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Contact Info</h4>
                </div>
                <div class="widget-body">
                    <p>You can contact us on: </p>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="address-info">
                                <p><span><strong>Address:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-mobile"></i>
                            <div class="address-info">
                                <p><span><strong>Phone:</strong><br></span>9808144809</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-envelope"></i>
                            <div class="address-info">
                                <p><span><strong>Email:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Store</h4>
                </div>
                <div class="widget-body">
                    <p></p>
                    <ul>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Brands A-Z</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Quick Links</h4>
                </div>
                <div class="widget-body">
                    <p></p>
                    <ul>
                        <li><a href="#">About The Company</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Frequently Asked Questions</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Follow Us</h4>
                </div>
                <div class="widget-body widget-social-icons">
                    <p>We are available on: </p>
                    <ul>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <p><strong>&copy; Copyright 2020 | OwnSite | All rights reserved</strong></p>
            </div>
            <div class="footer-bottom-menu">
                <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer Ends Here -->

</body>
</html>