<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to OwnSite</title>

  <link rel="stylesheet" href="css/custom.css">

  <script src="https://kit.fontawesome.com/26d4a64054.js" crossorigin="anonymous"></script>

</head>
<body>

    <!-- Topbar Starts Here -->
  
    <div id="topbar">
        <div class="topbar-contents">
            <div class="topbar-content">
                <p>Welcome to OwnSite</p>
            </div>
            <div class="topbar-social">
                <ul class="topbar-social-icons">
                    <a href="#"><li><i class="fab fa-twitter" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-facebook" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-instagram" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-pinterest" aria-hidden="true"></i></li></a>
                    <a href="#"><li><i class="fab fa-youtube" aria-hidden="true"></i></li></a>
                </ul>
            </div>
        </div>
    </div>

    <!-- Topbar Ends Here -->

    <!-- Header Starts Here -->
    <header id="header">
        <div class="header-content">
            <div class="main-header">
                <div class="header-logo-section">
                    <img src="../images/logo.png" alt="">
                </div>
                <div class="header-search-section">
                   <form action="#">
                    <select name="selectProducts" id="selectProductsFromCategories">
                        <option value="#">Fashion</option>
                        <option value="#">Tech</option>
                        <option value="#">Phones</option>
                        <option value="#">Male</option>
                        <option value="#">Female</option>
                    </select>
                    <input type="text" name="headerSearchProducts" placeholder="Search Products..">
                    <button name="headerSearchProductsSubmit">Search</button>
                   </form>
                </div>
                <div class="header-breadcrumbs-sectios">
                    <div class="header-wishlist">
                        <p>My Favourite</p>
                        <a href=""><h5>Wishlist <i aria-hidden="true" class="far fa-heart"></i></h5></a>
                    </a>
                    </a>
                    </div>
                    <div class="header-account">
                        <p>Login/SignUp</p>
                        <a href=""><h5>My Account <i aria-hidden="true" class="fas fa-lock"></i></h5></a>
                    </a>
                    </a>
                    </div>
                    <div class="header-cart">
                        <a href=""><i class="fas fa-shopping-cart"></i>
                        <h6 class="cart-item-count">0</h6></a>
                    </a>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="nav-content">
                <ul>
                    <li></li><a href="#">Home</a></li>
                    <li></li><a href="#">News</a></li>
                    <li></li><a href="#">Shop</a></li>
                    <li></li><a href="#">Checkout</a></li>
                    <li></li><a href="#">My Account</a></li>
                </ul>
            </div>
            <div class="nav-breadcrumbs">
                <div class="nav-breadcrumbs-call-icon">
                    <i class="fas fa-phone-alt"></i>
                    <div class="nav-breadcrumbs-call-content">
                        <ul>
                            <li>Call To</li>
                            <li class="call-number">
                                <strong>977-9846375829</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends Here -->

    <!-- Main Section Starts Here -->
    <main id="main-section">
        <div class="left-sidebar">

        </div>
        <div class="main">

        </div>
        <div class="right-sidebar">

        </div>

    </main>

    <!-- Main Section Ends Here -->

    <!-- Footer Starts Here -->
    <footer id="footer-section">
        <div class="footer-top">
            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Contact Info</h4>
                </div>
                <div class="widget-body">
                    <p>You can contact us on: </p>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="address-info">
                                <p><span><strong>Address:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-mobile"></i>
                            <div class="address-info">
                                <p><span><strong>Phone:</strong><br></span>9808144809</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-envelope"></i>
                            <div class="address-info">
                                <p><span><strong>Email:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Contact Info</h4>
                </div>
                <div class="widget-body">
                    <p>You can contact us on: </p>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="address-info">
                                <p><span><strong>Address:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-mobile"></i>
                            <div class="address-info">
                                <p><span><strong>Phone:</strong><br></span>9808144809</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-envelope"></i>
                            <div class="address-info">
                                <p><span><strong>Email:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Contact Info</h4>
                </div>
                <div class="widget-body">
                    <p>You can contact us on: </p>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="address-info">
                                <p><span><strong>Address:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-mobile"></i>
                            <div class="address-info">
                                <p><span><strong>Phone:</strong><br></span>9808144809</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-envelope"></i>
                            <div class="address-info">
                                <p><span><strong>Email:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-widget">
                <div class="widget-heading">
                    <h4>Contact Info</h4>
                </div>
                <div class="widget-body">
                    <p>You can contact us on: </p>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="address-info">
                                <p><span><strong>Address:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-mobile"></i>
                            <div class="address-info">
                                <p><span><strong>Phone:</strong><br></span>9808144809</p>
                            </div>
                        </li>

                        <li>
                            <i class="fas fa-envelope"></i>
                            <div class="address-info">
                                <p><span><strong>Email:</strong><br></span>Blakumari-Kharibot, Lalitpur</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <p><strong>&copy; Copyright 2020 | OwnSite | All rights reserved</strong></p>
            </div>
            <div class="footer-bottom-menu">
                <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Footer Ends Here -->


</body>
</html>